.course-btns .btn{
  margin:5px;
}
.App{
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100%;
}
.caseStudyBox{
  width: 300px;
  background: #333;
  color:#ffffff;
  padding:30px;
}
.caseStudyBox a{
  color: #ffffff;
}
.questionBox{
  padding:0 30px;
}